.about_container {
  min-height: 100vh;
  background: #fbe6f1;
  color: #6a11cb;

  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
}

.about_content {
  border-radius: 12px;
  text-align: center;
}

.about_title {
  color: #6a11cb;
  font-size: 3rem;
  margin-bottom: 1rem !important;
}

.about_text {
  color: #333333;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.8;
}
