.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center; /* Keep vertical centering */
  justify-content: flex-start; /* Align items to the start (left) */
  border: 1px solid #333;
}

#profile-section {
  background-image: url('/public/bg.jpeg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire section without stretching */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex; /* Ensure flexbox layout */
  align-items: center; /* Center items vertically */
  padding: 20px; /* Optional padding */
  position: relative; /* Ensure the position is relative for the blurBlock */
}

#profile-section img.avatar {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between the logo and text */
}