.mockup_container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--secondary-color)
    );
  }

  .mockup_image_wrapper {
    height: auto;
    background-color: black;
    display: block; 
    position: relative;
    overflow: visible;
  }
  
  .mockup_image {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-height: 80vh;
    border-radius: 12px;
  }
  
  .mockup_image2 {
    position: absolute;
    top: 0;
    left: 9rem;
    width: auto;
    max-height: 80vh;
    border-radius: 12px;
  }

  .mockup_text{
    padding: 0 0 0 27rem;
  }

  