.mockup_container {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;

  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.mockup_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.mockup_image {
  width: auto;
  max-height: 80vh;
  max-width: 40vh;
  border-radius: 12px;
}

.mockup_text {
  padding-top: 20px;
  padding-left: 5vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-family: Poppins;
}

.mockup_text h4 {
  color: #6a11cb;
  margin-bottom: 1rem;
}

.mockup_text p {
  color: #333333;
}

.get_started_button {
  background: #d16ba5;
  color: #ffffff;
  font-family: 'Poppins';
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.get_started_button:hover {
  background: #6a11cb;
}

.get_started_button:active {
  background: #4a0e91;
  transform: scale(0.95);
}
