.prototype_container {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(
      to bottom,
      var(--secondary-color),
      var(--primary-color)
    );
  }

  .hp {
    margin-top: 4rem;
    width: 16rem;
    height: 28rem;
    background: url('../public/background_hp.png');
    background-size: cover; /* Agar gambar menutupi seluruh elemen */
    background-repeat: no-repeat; /* Jangan ulangi gambar */
    background-position: center; /* Posisikan di tengah */
  }  